/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: white;
}
.navbar {
    padding: 0 20px;  
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;  
    width: 100%;      
    top: 0;            
    left: 0;
    z-index: 1000;
    height: 80px; 
    background-color: #4dcdb6;  
}

.nav-links {
    display: flex;
    gap: 15px; 
}

.navbar h1 {
    margin-left: 20px; 
    font-size: 17px;
}

.navbar a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.navbar a:hover {
    color: #3a3f4b;
}

.main {
    flex: 1;
    padding: 20px;
    margin-top: 80px;   
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
}
.main{
    background-image: url('https://task-management-ruby-psi.vercel.app/assets/bg6-eB4-aTfj.jpg');
} 
